<nav class="navbar navbar-light navbar-expand bg-light navigation-clean">
  <div class="container">
    <a *ngIf="productConfig.showBrandImage" class="navbar-brand" href="#">{{productInfo.brandImage}}</a>
    <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"></button>
    <div class="collapse navbar-collapse" id="navcol-1"></div>
  </div>
</nav>
<section class="showcase"></section>
<section class="testimonials text-center bg-light">
  <div class="container">
    <h2 class="mb-5" *ngIf="productConfig.showProductName">{{productInfo.name}}</h2>
    <div class="row">
      <div class="col-lg-4">
        <div class="mx-auto testimonial-item mb-5 mb-lg-0">
          <h5></h5>
          <p *ngIf="productConfig.showProductDesc" class="font-weight-light mb-0">
            <br>{{productInfo.description1}}<br><br>
          </p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="mx-auto testimonial-item mb-5 mb-lg-0">
          <img *ngIf="productConfig.showProductImage" class="rounded img-fluid" src="{{imagePath}}/J&J%20Product.png" alt="{{productInfo.brandImage}}">
          <h5>{{productInfo.id}}</h5>
          <p *ngIf="productConfig.showProductDesc" class="font-weight-light mb-0">{{productInfo.description2}}</p>
        </div>
      </div>
      <div *ngIf="productConfig.showProvenance" class="col-lg-4">
        <div class="mx-auto testimonial-item mb-5 mb-lg-0">
          <h5>Provenance</h5>
          <p class="font-weight-light mb-0"></p>
          <div class="form-group rounded-left"><label for="lotValue" style="text-align: left;">Lot Number:&nbsp;</label><input
            type="text" id="lotValue" class="form-control form-control-sm" placeholder="ABC1234"></div>
        </div>
        <div></div>
        <div class="row">
          <div class="col"></div>
        </div>
        <div></div>
        <div class="row">
          <div class="col">
            <button class="btn btn-primary" type="button">Submit</button>
          </div>
        </div>
        <div>
          <div class="row"></div>
        </div>
        <div>
          <div class="row"></div>
        </div>
        <div>
          <div class="row">
            <div class="col">
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th></th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Lot</td>
                      <td>{{productInfo.provenanceDetails?.lot}}</td>
                    </tr>
                    <tr>
                      <td>Manf. Date</td>
                      <td>{{productInfo.provenanceDetails?.manfDate | date:'yyyy-MM-dd'}}</td>
                    </tr>
                    <tr>
                      <td>Exp. Date</td>
                      <td>{{productInfo.provenanceDetails?.expDate | date:'yyyy-MM-dd'}}</td>
                    </tr>
                    <tr>
                      <td>Country</td>
                      <td>{{productInfo.provenanceDetails?.country}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="productConfig.showUrls" class="container">
    <div class="row">
      <div class="col">
        <div *ngFor="let link of productInfo.hyperlinks" style="text-align: left;">
          <a href="#">{{link}}</a>
        </div>
      </div>
    </div>
  </div>
</section>
<div *ngIf="productConfig.showAppStoreInfo">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h5 class="text-left mb-5" style="text-align: left;">Verify Authenticity</h5>
        <p>Download the UniSecure app.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <img class="img-thumbnail img-thumbnail" src="{{imagePath}}/store.png" width="150" height="100" style="text-align: right;" alt="store">
      </div>
    </div>
  </div>
</div>
<footer class="footer bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 my-auto h-100 text-center text-lg-left">
        <ul class="list-inline mb-2">
          <li class="list-inline-item"><a href="#">About</a></li>
          <li class="list-inline-item"><span>⋅</span></li>
          <li class="list-inline-item"><a href="#">Contact</a></li>
          <li class="list-inline-item"><span>⋅</span></li>
          <li class="list-inline-item"><a href="#">Terms of &nbsp;Use</a></li>
          <li class="list-inline-item"><span>⋅</span></li>
          <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
        </ul>
        <p class="text-muted small mb-4 mb-lg-0">© {{productInfo.brandImage}} 2020. All Rights Reserved.</p>
      </div>
      <div *ngIf="productConfig.showSocialIcons" class="col-lg-6 my-auto h-100 text-center text-lg-right">
        <ul class="list-inline mb-0">
          <li *ngFor="let link of productInfo.socialLinks" class="list-inline-item">
            <a href="#"><i class="fa fa-{{link}} fa-2x fa-fw"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
